<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2>Thank you for your order!</h2>
    <p>Your order has been successfully placed. We will contact you soon.</p>
    <a href="/home/" class="btn btn-primary">Go to Homepage</a>
</div>
</body>
</html>
